@import './modules.css';
@import './utils.css';

:root {
    --color-primary: rgb(55, 115, 255);
    --color-primary-raw: 55, 115, 255;
    --color-secondary: rgb(237, 237, 237);
    --color-secondary-raw: 237, 237, 237;
    --color-important: rgb(255, 197, 197);
    --color-important-raw: 255, 197, 197;
    --color-warning: rgb(255, 86, 86);
    --color-good: rgb(82, 178, 75);
    --color-miss: rgb(186, 174, 45);
    --color-common-light-gray: rgb(121, 121, 121);
    --color-common-gray: rgb(59, 59, 59);
    --color-date: rgb(128, 128, 128);
    --color-date-sunday: rgb(255, 128, 128);
    --color-date-saturday: rgb(128, 128, 255);
    --color-bg: rgb(255, 255, 255);
    --color-bg-cld-0: rgb(237, 237, 237);
    --color-bg-cld-1: rgb(243, 243, 243);
    --color-bg-cld-hover: rgba(0, 0, 0, 0.1);
    --color-bg-cld-active: rgba(0, 0, 0, 0.2);
    --color-bg-choice: rgb(225, 225, 225);
    --color-sd: rgba(0, 0, 0, 0.35);
    --color-bd-0: rgb(181, 181, 181);
    --color-bd-1: rgb(213, 213, 213);
    --color-txt-result: rgb(118, 118, 118);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BIZ UDPGothic', Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
}

.how-to-play {
    max-width: 1000px;
    width: 90%;
    padding: 25px;
    border-width: 1px;
    border-color: var(--color-bd-0);
    border-radius: 30px;
    border-style: solid;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 5px 0px var(--color-sd);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.htp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.htp-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
    color: var(--color-common-light-gray);
    cursor: pointer;
    transition: opacity 0.15s;
}

.htp-img {
    max-width: 325px;
    width: 100%;
    height: fit-content;
    aspect-ratio: 1 / 1;
}

.htp-letter-list {
    max-width: 500px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.htp-letter {
    overflow-wrap: break-word;
    line-height: 19px;
}

li.htp-letter::marker {
    color: var(--color-common-gray);
}

.calendar-button {
    position: absolute;
    left: -70px;
}

.calendar-button > svg {
    width: 27px;
}

.calendar {
    width: 325px;
    height: 400px;
    border-radius: 30px;
    background-color: var(--color-bg);
    box-shadow: 0px 2px 5px 0px var(--color-sd);
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.calendar span {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.5px;
    user-select: none;
}

.cld-header {
    flex: 1 1;
    display: flex;
    padding: 0px 5%;
    padding-top: 5%;
    gap: 5%;
}

.cld-date-selector {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: var(--color-bg-cld-0);
}

.cld-date-selector > .svg-arrow {
    width: 20%;
    cursor: pointer;
}

.cld-body {
    flex: 5 5;
    display: flex;
    flex-direction: column;
}

.cld-days {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0px 5%;
}

.cld-dates {
    flex: 5 5;
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-image: linear-gradient(to bottom, var(--color-bg-cld-1), var(--color-bg));
}

.cld-date {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld-date:not(.disabled) {
    transition: background-color 0.15s;
    cursor: pointer;
}

.cld-date:not(.disabled) > .selected {
    height: 65%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-important);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cld-day-1,
.cld-day-2,
.cld-day-3,
.cld-day-4,
.cld-day-5 {
    color: var(--color-date);
}

.cld-day-0 {
    color: var(--color-date-sunday);
}

.cld-day-6 {
    color: var(--color-date-saturday);
}

.cld-date.disabled {
    opacity: 0.25;
}

.cld-footer {
    flex: 1 1;
    display: flex;
    padding: 0px 5%;
    padding-bottom: 5%;
    gap: 5%;
}

.cld-footer-button {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    border-radius: 30px;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}

.cld-footer-button.primary {
    color: var(--color-bg);
    background-color: var(--color-primary);
}

.cld-footer-button.secondary {
    background-color: var(--color-secondary);
}

.main {
    height: 100dvh;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.menu-sub {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.menu-panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    z-index: 128;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 80px;
}

.screen {
    width: 700px;
    aspect-ratio: 1 / 1;
}

.screen-img {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--color-bd-1);
}

.information {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.interface {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel-container {
    position: relative;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 40px;
    list-style: none;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2.2rem;
    user-select: none;
    background-color: var(--color-bg-choice);
    box-shadow: 0px 0px 5px 0px var(--color-sd);
    border-radius: 5px;
    transition: transform 0.25s;
}

.choice:not(.cooling) {
    cursor: pointer;
}

.choice.cooling {
    opacity: 0.3;
}

.cooling-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 128;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cooling-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.cooling-icon:before,
.cooling-icon:after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
    content: '';
    background-color: var(--color-warning);
}

.cooling-icon:before {
    transform: rotate(45deg);
}

.cooling-icon:after {
    transform: rotate(-45deg);
}

.correct-answer {
    color: red;
    /* color: rgb(20, 48, 90); */
}

.wrong-answer {
    color: blue;
    /* color: rgb(20, 48, 90); */
}

.result {
    padding: 70px 0px;
}

.result-questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.question {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--color-good);
    border-style: solid;
    color: var(--color-good);
}

.question.miss {
    border-color: var(--color-miss);
    color: var(--color-miss);
}

.question-number {
    position: absolute;
    top: 8px;
    left: 8px;
}

.question-img {
    width: 320px;
    height: 320px;
}

.question-details {
    display: flex;
    justify-content: space-between;
}

.question-details > .answer {
    display: flex;
    align-items: center;
}

.question-details > .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.share {
    display: flex;
    gap: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    transition:
        opacity 0.25s,
        transform 0.25s;
    cursor: pointer;
}

@media screen and (min-width: 581px) {
    .htp-close:hover {
        opacity: 0.6;
    }

    .htp-letter {
        font-size: 110%;
    }

    .cld-date:not(.disabled):hover {
        background-color: var(--color-bg-cld-hover);
    }

    .cld-date:not(.disabled):active {
        background-color: var(--color-bg-cld-active);
    }

    .cld-footer-button:hover {
        transform: translateY(-2px);
    }

    .cld-footer-button.primary:hover {
        box-shadow: 0px 5px 20px 0px rgba(var(--color-primary-raw), 0.35);
    }

    .cld-footer-button:active {
        transform: translateY(0.5px);
    }

    .cld-footer-button.primary:active {
        box-shadow: 0px 2.5px 10px -1px rgba(var(--color-primary-raw), 0.35);
    }

    .choice:not(.cooling):hover {
        transform: scale(1.03);
    }

    .choice:not(.cooling):active {
        transform: scale(0.97);
    }

    .share-button:hover {
        opacity: 0.5;
    }
}

@media screen and (max-width: 580px) {
    .htp-close {
        top: 23px;
        right: 23px;
        width: 28px;
        height: 28px;
    }

    .htp-img {
        width: 90%;
    }

    .screen {
        width: 85%;
    }

    .screen-border {
        border-width: 1.5px;
    }

    .choice {
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }

    .choice:not(.cooling):active {
        transform: scale(0.9);
    }

    .share-button:active {
        transform: scale(0.96);
    }
}
