.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.color-gray {
    color: var(--color-common-gray);
}

.font-normal {
    font-weight: 300;
}

.font-bold {
    font-weight: 600;
}

.font-larger {
    font-size: larger;
}

.font-x-large {
    font-size: 22px;
}
